
<div class="container">
    <h1>Skonfiguruj ciasteczko!</h1>
</div>
<div class="container">
    <h2>Wybierz bazę:</h2>
        {{#each bases}}
          <button> Ciastko {{this.[0]}}: {{this.[1]}}zł</li></button>
        {{/each}}
    {{> cookie-preview }}
</div>