<div class="container section">
    {{> addons-list noDeleteButton=true}}
    <button  onclick="location.href='/order/thanks'" class="btn btn-warning btn-lg">Zamów!</li></button><br>
    <a href="/" class="link">Powrót do strony głównej.</a>
</div>

<div class="container section">
    {{> cookie-preview}}
</div>