<div class="container section">
    <h1>Dziękujemy za zamówienie!</h1>
    <p class="link">Pobraliśmy {{pricify sum}} PLN. Zapraszamy ponownie!</p>
    <button  onclick="location.href='/'" class="btn btn-warning btn-lg">Powrót do strony głównej!</li></button><br>
</div>

