<h2>Wybierz Wojowników</h2>

<form action="/arena/fight" method="POST">
    {{> warrior-select select-name = "warrior1"}}
    {{> warrior-select select-name = "warrior2"}}
    <br>
    <button type="submit">Rozpocznij Walkę!</button>
</form>