<div>
    <h2 class="gray-header">Lista Najlepszych Wojowników:</h2>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>
                Lp.
            </th>
            <th>
                Imię:
            </th>
            <th>
                Liczba wygranych:
            </th>
        </tr>
        </thead>
        <tbody>

            <tr>
                <th>
                    1
                </th>
                <td>
                    Marcin Juzek Baranowski
                </td>
                <td>
                    1
                </td>
            </tr>

        </tbody>
    </table>
    <div>
<!--        <form method="GET" action="client/form/add">-->
<!--            <button type="submit" class="btn btn-outline-success btn-lg large-button" >Dodaj nowego Klienta</button>-->
<!--        </form>-->
    </div>
</div>