<div>
    <h2 class="gray-header">Lista Najlepszych Wojowników:</h2>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>
                Lp.
            </th>
            <th>
                Imię:
            </th>
            <th>
                Liczba wygranych:
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each warriors}}
            <tr>
                <th>
                    {{@index}}
                </th>
                <td>
                    {{this.name}}
                </td>
                <td>
                    {{this.wins}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>