body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f8c173;
}

a {
    color: #00B7FF;
}

.active {
    color: #818181;
}

table, th, td {
    border: 1px solid lightgrey;
    padding: 15px;
    text-align: left;
}

table {
    border-collapse: collapse;
    margin-top: 30px;
}

article {
    border: 1px solid lightgrey;
    padding: 20px;
    margin-top: 20px;
    background-color: #F1F1F1;
}

.container {
    max-width: 700px;
    border: 1px solid #f8c173;
    padding: 5%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 0 2em black;
}

ul {
    list-style-type: none;
}

nav {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid lightgrey;
}

li a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}