<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Warrior Game</title>
</head>
<body>
<div class="container">
    <header id="header">
        <h1>Arena Walk</h1>
        <ul>
            <li class="btn"><a href="/home" >Strona główna</a></li>
        </ul>
        <ul>
            <li class="btn"><a href="/warrior/register">Zarejestruj Wojownika</a></li>
        </ul>
        <ul>
            <li class="btn"><a href="/hall-of-fame/fame">Sala Sław</a></li>
        </ul>
        <ul>
            <li class="btn"><a href="/arena/fight-form">Arena</a></li>
        </ul>
    </header>
    <div class="text">
        {{{body}}}
    </div>
</div>
<script>
    const mainPageLink = document.querySelector("[href='/home']");
	const newWarriorLink = document.querySelector('[href="/warrior/register"]');
	const hallFameLink = document.querySelector('[href="/hall-of-fame/fame"]');
	const arenaLink = document.querySelector('[href="/arena/fight-form"]');

    const url = window.location.pathname;

    if(url.includes('/home')) {
        mainPageLink.classList.add('active');
    }

	if(url.includes('/warrior/register')) {
        newWarriorLink.classList.add('active');
    }

	if(url.includes('/hall-of-fame/fame')) {
        hallFameLink.classList.add('active');
    }

	if(url.includes('/arena/fight-form')) {
        arenaLink.classList.add('active');
    }
</script>
</body>
</html>