extends ../layout

block content
  h1= title
 table
   tr
    th id
    th Tytuł
    th Data Dodania Artykułu
    th Akcja
  each item, index in data
    tr
      td=index
      td=item.title
      td=item.created
      td
        a Usuń
