<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>marcinello</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
<div>
    <h1>Jak się czujesz?</h1>
    <button class="first-btn"> DOBRZE</button>
    <button class="second-btn"> ŹLE</button>

    <h3>Ilość razy dobrze: <span class="good"></span></h3>
    <h3>Ilość razy źle: <span class="bad"></span></h3>
</div>
<div>
    <h1>Jak się czujesz?</h1>
    <button class="btn-3"> DOBRZE</button>
    <button class="btn-4"> ŹLE</button>

    <h3>Ilość razy dobrze: <span class="moodGood"></span></h3>
    <h3>Ilość razy źle: <span class="moodBad"></span></h3>
</div>
<div>
    <h1>Kliknij i podaj liczbę:</h1>
    <button class="last-btn">KLIKNIJ ABY PODAĆ LICZBĘ</button>
    <h3>Podane liczby to: <span class="array"></span></h3>
    <h3>Suma: <span class="sum"></span></h3>
</div>
<script src="app.js"></script>
</body>
</html>


