<div class="container">
    <h2 class="gray-header">Dodawanie nowego klienta do bazy.</h2>
    <form method="post" action="/client">
        <div class="form">
            <label>
                <p>
                    Email:
                </p>
                <p>
                    <input type="email" name="mail" required>
                </p>
            </label>
            <label for="">
                <p>
                    Imię:
                </p>
                <p>
                    <input type="text" name="name">
                </p>
            </label>
            <label for="">
                <p>
                    Data następnego kontaktu:
                </p>
                <p>
                    <input type="date" name="next">
                </p>
            </label>
            <p>
                Notatka:
            </p>
            <p>
                <textarea name="notes" id="" cols="30" rows="10"></textarea>
            </p>
            <button type="submit" class="btn btn-success">Dodaj do bazy!</button>
        </div>
    </form>
</div>