<div class="container">
    <h2>Dodawanie nowego klienta do bazy.</h2>
    <form method="post" action="/client"></form>
    <p>
        Email:
    </p>
    <p>
        <input type="email" name="mail">
    </p>
</div>