<div class="container">
    <h2 class="gray-header">Edytujesz {{client.name}} o identyfikatorze {{client.id}}.</h2>
    <form method="put" action="/client">
        <div class="form">
            <label>
                <p>
                    Email:
                </p>
                <p>
                    <input type="email" name="mail">
                </p>
            </label>
            <label for="">
                <p>
                    Imię:
                </p>
                <p>
                    <input type="text" name="name">
                </p>
            </label>
            <label for="">
                <p>
                    Data następnego kontaktu:
                </p>
                <p>
                    <input type="date" name="next">
                </p>
            </label>
            <p>
                Notatka:
            </p>
            <p>
                <textarea name="notes" id="" cols="30" rows="10"></textarea>
            </p>
            <button type="submit" class="btn btn-success">Edytuj!</button>
        </div>
    </form>
</div>