<h2>Dodawanie nowego klienta</h2>
<form method="post" action="/client/form/add">
    <label>
        <p>Imię:</p>
        <input type="text" name="name">
    </label>
    <label>
        <p>E-mail:</p>
        <input type="text" name="mail">
    </label>
    <label>
        <p>Data najbliższego kontaktu:</p>
        <input type="date" name="nextContactAt">
    </label>
    <label>
        <p>Notatki:</p>
        <textarea name="notes"></textarea>
    </label>
    <p>
        <button type="submit">Zapisz klienta</button>
    </p>
</form>
