<h2>Lista Klientów</h2>

<table>
    <thead>
        <tr>
            <th>
                Imię:
            </th>
            <th>
                Email:
            </th>
            <th>
                Data następnego kontaktu:
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                {{this.email}}
            </th>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.next}}
            </td>
        </tr>
    </tbody>
</table>