<h2>Lista Klientów:</h2>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>
                Email:
            </th>
            <th>
                Imię:
            </th>
            <th>
                Data następnego kontaktu:
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each clients}}
            <tr>
                <th>
                    {{this.mail}}
                </th>
                <td>
                    {{this.name}}
                </td>
                <td>
                    {{this.next}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>