<div class="container">
    <h2>Zaktualizowano pomyślnie!</h2>
    <div class="form">
        <a href="/client/{{id}}">Przejdź do szczegółów tego klienta.</a>
        <a href="/client">Powrót do listy klientów.</a>
    </div>
</div>