<h2>Lista dzieci</h2>
<ul>
    {{#each childrenList}}
        <li>
            <form action="/children/gift{{this.id}}?_method=PATCH" method="post">
                <label for="">
                    {{this.name}}
                    <select name="giftId">
                        <option value="">Brak</option>
                        {{#each ../giftsList}}
                            <option value="{{this.id}}" {{#if (equals this.id = ../giftId)}}
                                    selected="selected"{{/if}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </label>
            </form>
            <button class="btn btn-warning">Zapisz</button>
        </li>
    {{/each}}
</ul>

<h2>Dodaj dziecko do listy</h2>
<form action="/children" method="post">
    <label for="">
        Imię
        <input type="text">
    </label>
    <button class="btn btn-warning">Zapisz</button>
</form>