extends layout

block content
	h1= title
	form(method='post')
		p Jaka jest Twoja ulubiona pora roku?
			ul
			each item in databaseSeasons
					li
						label=item.title
						input(type='radio' name='quiz' value=item.id)
			input(type='submit' value='Zagłosuj')
			p Aby zobaczyć wyniki oddaj głos.