@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Rajdhani:wght@600&display=swap');

body {
    background-color: #04AA6D;
    font-family: 'Rajdhani', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    border: 1px solid lightgrey;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2em black;
    min-height: 80vh;
}

.text {
    margin: 0 auto;
    width: 350px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    text-align: center;
}

h3, h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 350px;
    background-color: #f1f1f1;
}

input {
    width: 340px;
    border: none;
    border-bottom: 1px solid gray;
}

label {
    font-size: 0.7em;
}

button {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #04AA6D;
    border: 1px solid #04AA6D;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #404352;
    color: white;
    border-color: #404352;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out;

}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover {
    background-color: #404352;
    color: white;
}

.error {
    background-color: #fdc5c5;
    padding: 30px;
    border: 2px solid red;
    margin-top: 30px;
    text-align: center;
}

b {
    font-size: 1.5em;
    color: #04AA6D;
}