@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Rajdhani:wght@600&display=swap');

body {
    background-color: #04AA6D;
    font-family: 'Rajdhani', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    border: 1px solid lightgrey;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2em black;
    min-height: 80vh;
}

.text {
    margin: 0 auto;
    width: 350px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    text-align: center;
}

h3 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 350px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #404352;
    color: white;
}